{% extends 'base.html' %}
{% block pagetitle %}
    Add Course
{% endblock pagetitle %}

{% block breadcumb %}
    Add course page
{% endblock breadcumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="col-lg-8 col-xlg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material" action="{% url 'add_course' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Course Name</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" name="name" placeholder="Computer Network" class="form-control p-0 border-0">
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Course code</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" name="code" placeholder="ISY3265" class="form-control p-0 border-0">
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-sm-12">This course is year:</label>
                                    <div class="col-sm-12 border-bottom">
                                        <select name="year" class="form-select shadow-none p-0 border-0 form-control-line">
                                            <option sellected>Sellect ...</option>
                                            {% for year in years %}
                                            <option value={{year.id}}>{{year.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Academic year</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" name="academic_year" placeholder="ISY3265" class="form-control p-0 border-0">
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-sm-12">To be taught by:</label>
                                    <div class="col-sm-12 border-bottom">
                                        <select name="lecture" class="form-select shadow-none p-0 border-0 form-control-line">
                                            <option sellected>Sellect ...</option>
                                            {% for lecture in leatures %}
                                            <option value={{lecture.id}}>{{lecture.user_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if twick %}
                                    <div class="alert alert-success" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                                <div class="form-group mb-4">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Create new course</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

