{% extends 'base.html' %}
{% block pagetitle %}
    Courses
{% endblock pagetitle %}

{% block breadcumb %}
    Courses Page
{% endblock breadcumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
              <div class="row col-12">
                {% if request.user.group.name == 'hod' %}
                <form action="{% url 'courses' year_id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file"
                         title="Upload excel file"
                         name="excel_file"
                         style="border: 1px solid black; padding: 5px;"
                         required="required">
                  <p>
                  <input type="submit"
                         value="Upload"
                         style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
                </form>
                {% endif %}
                {% if uploaded %}
                  <div class="alert alert-success" role="alert">
                      The List has been uploaded successfully
                  </div>
                {% endif %}
                
              </div>
              <h2>List of courses</h2>
              {% if not courses %}
                <ul class="list-group">
                      <li class="list-group-item">No courses available</li>
                </ul>
              {% else %}
                <ul class="list-group">
                    {% for course in courses %}
                        <li class="list-group-item"><a href="{% url 'course_statistics' course_id=course.id %}"><h3>{{ course.name }}</h3></a></li>
                    {% endfor %}
                </ul>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

