{% extends 'base.html' %}
{% block pagetitle %}
    Courses
{% endblock pagetitle %}

{% block breadcumb %}
    Courses Page
{% endblock breadcumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
              {% if not courses %}
                <ul class="list-group">
                      <li class="list-group-item">No courses available</li>
                </ul>
              {% else %}
                <ul class="list-group">
                    {% for course in courses %}
                        <li class="list-group-item"><a href="{% url 'course_statistics' course_id=course.id %}">{{ course.name }}</a></li>
                    {% endfor %}
                </ul>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

