{% extends 'base.html' %}
{% block pagetitle %}
    Dashboard
{% endblock pagetitle %}

{% block breadcumb %}
    Dashboard
{% endblock breadcumb %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
          <div class="white-box">
                <ul class="list-group">
                    {% for year in years %}
                        <li class="list-group-item"><a href="{% url 'courses' year_id=year.id %}">{{ year.name }}</a></li>
                    {% endfor %}
                </ul>
          </div>
        </div>
    </div>
{% endblock content %}

