{% extends 'base.html' %}
{% block pagetitle %}
    Dashboard
{% endblock pagetitle %}

{% block breadcumb %}
    Dashboard page
{% endblock breadcumb %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
          <div class="white-box">
                <ul class="list-group">
                    {% for school in schools %}
                        <li class="list-group-item"><a href="{% url 'departments' school_id=school.id %}">{{ school.name }}</a></li>
                    {% endfor %}
                </ul>
          </div>
        </div>
    </div>
{% endblock content %}

