{% extends 'base.html' %}
{% block pagetitle %}
    Department
{% endblock pagetitle %}

{% block breadcumb %}
    Department
{% endblock breadcumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3>List of Departments in: {{school_name}} </h3>
                {% if not departments %}
                    <ul class="list-group">
                            <li class="list-group-item">No department available</li>
                    </ul>
                {% endif %}
                <ul class="list-group">
                    {% for department in departments %}
                        <li class="list-group-item"><a href="{% url 'levels' dep_id=department.id %}">{{ department.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

