{% extends 'base.html' %}
{% block pagetitle %}
    Levels
{% endblock pagetitle %}

{% block breadcumb %}
    Levels
{% endblock breadcumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
          <div class="white-box">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'courses' dep_id=department_id level='1' sem_id='1' %}">Level 1 (Year 1)</a></li>
                    <li class="list-group-item"><a href="{% url 'courses' dep_id=department_id level='2' sem_id='1' %}">Level 2 (Year 2)</a></li>
                    <li class="list-group-item"><a href="{% url 'courses' dep_id=department_id level='3' sem_id='1' %}">Level 3 (Year 3)</a></li>
                    <li class="list-group-item"><a href="{% url 'courses' dep_id=department_id level='4' sem_id='1' %}">Level 4 (Year 4)</a></li>
                </ul>
          </div>
        </div>
    </div>
{% endblock content %}

