{% extends 'base.html' %}
{% block pagetitle %}
    Courses Registered
{% endblock pagetitle %}

{% block breadcumb %}
   My Courses
{% endblock breadcumb %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {% if courses %}
            {% for course in courses %}

            <div class="card col-sm-4 " style="width: 18rem; border: 1px solid grey; border-radius: 10px;margin-right:6%">
                <div class="card-body">
                <h5 class="card-title"><h3>{{ course.code }}</h3>  Taught by: {{ course.lecture }} </br></h5>
                <a href="{% url 'course_statistics' course_id=course.id  %}" class="btn btn-success">Go to course</a>
                
                </div>
            </div>
            
            {% endfor %}
            
            {% else %}
            <div class="white-box">
                There is no courses in your department, please add them!
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
